.list-amount {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.button {
  background-color: #382f5a;
  height: 50px;
  width: 250px;
  border: 2px solid #c7d2fe;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c7d2fe;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
}
